<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.dk.walk"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="14"
        android:targetSdkVersion="19" />

    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_LOCATION_EXTRA_COMMANDS" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <application
        android:name="com.dk.walk.App"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.dk.walk.MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service android:name="com.dk.walk.service.GPSservice" >
        </service>

        <receiver android:name="com.dk.walk.service.NotifyReceiver" >
            <intent-filter>
                <action android:name="android.test.BROADCAST" />
            </intent-filter>
        </receiver>

        <activity android:name="com.dk.walk.SettingsActivity" >
        </activity>
        <activity
            android:name="com.dk.walk.StartWayActivity"
            android:label="@string/title_activity_start_way" >
        </activity>
        <activity
            android:name="com.dk.walk.OverviewActivity"
            android:label="@string/title_activity_overview" >
        </activity>
    </application>

</manifest>
